<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">
           
	<security:http auto-config="true"  use-expressions="true" >
		<security:intercept-url pattern="/sda" access="permitAll" />
		<security:intercept-url pattern="/sda/filemanager/logout" access="permitAll" />
		<security:intercept-url pattern="/sda/filemanager/uploadFile" access="permitAll" />
        <security:intercept-url pattern="/sda/logout" access="permitAll" />
        <!--<security:intercept-url pattern="/**" access="ROLE_ANONYMOUS" />-->
        <security:form-login
                default-target-url="/"
                always-use-default-target="true" />
        <security:anonymous />
        <security:logout />
	</security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="myAuthenticationProvider" />
    </security:authentication-manager>

    <bean id="myAuthenticationProvider"
                class="org.scigap.iucig.controller.AuthProvider" />
    <bean id="successHandler"
          class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler"/>

    <!--<security:authentication-manager>-->

        <!--<security:authentication-provider user-service-ref="userService" />-->
    <!--</security:authentication-manager>-->
</beans>