<!DOCTYPE html>
<html ng-app="fileManagerApp" ng-controller="FileManagerCtrl" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=’cache-control’ content=’no-cache’>
    <meta http-equiv=’expires’ content=’0′>
    <meta http-equiv=’pragma’ content=’no-cache’>

    <title>Scholarly Data Archive</title>
    <link rel="icon" href="https://www.indiana.edu/favicon.ico" />
    <link rel="shortcut icon" href="https://www.indiana.edu/favicon.ico" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="static/js/common.js"></script>
    <script src="static/js/library/jquery.form.js"></script>
    <script src="static/js/filemanager.js"></script>
    <script src="static/js/urlprovider.js"></script>
    <!--<script src="//malsup.github.com/jquery.form.js"></script>-->
    <script src="//www.google-analytics.com/urchin.js"></script>


    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="static/css/iu.css" rel="stylesheet">
</head>

<body>
<div ng-include src="'static/topbars.html'"></div>

<div id="allTable1" class="well container-fluid">
<div class="row-fluid">
<div class="well-iu span12">
<div class="well-heading">Scholarly Data Archive for {{remoteUser}}</div>
<div class="pull-left">
    <b>Current Path : {{pwd}}  </b>
</div>
<br/>
<br/>
<div id="allTable" class="pull-left">
    <button class="btn pull-left" data-toggle="modal" data-target="#newFolderModel">New Folder</button>
    <button class="btn pull-left" data-toggle="modal" data-target="#uploadFileModel">Upload File</button>
    <!--<button class="btn pull-left" ng-click="viewUsedSpace()" data-toggle="modal" data-target="#viewUsedSpaceModel">View Used Space</button>-->
</div>
<div class="pull-right span4"><strong >Select File to : </strong>
    <button class="btn pull-right" ng-click="generateDeleteModel()" data-toggle="modal" data-target="#deleteModel">Delete</button>
    <button class="btn pull-right" ng-click="generateMvModel()" data-toggle="modal" data-target="#mvModel">Move</button>
    <button class="btn pull-right" ng-click="generateCpModel()" data-toggle="modal" data-target="#copyModel">Copy</button>
    <button class="btn pull-right" ng-click="generateRenameModel()" data-toggle="modal" data-target="#renameModel">Rename</button>
</div>
<br/>
<br/>
<br/>
<div>
    <table class="table table-hover table-striped table-condensed">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th><a href="#" ng-click="predicate = 'name'; reverse=!reverse">Name</a><i ng-show="predicate=='name' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='name' && !reverse" class="icon-arrow-down"></i></th>
            <th><a href="#" ng-click="predicate = 'size'; reverse=!reverse">Size (Byte)</a><i ng-show="predicate=='size' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='size' && !reverse" class="icon-arrow-down"></i></th>
            <th><a href="#" ng-click="predicate = 'date'; reverse=!reverse">Last Modified</a><i ng-show="predicate=='date' && reverse" class="icon-arrow-up"></i><i ng-show="predicate=='date' && !reverse" class="icon-arrow-down"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td><img title="Up one level" src="static/images/up.png" width="22" height="28"/></td>
            <td class="tdcolor" ng-click="upOneLevel()"><a class="underline tdcolor" href="#">Up One Level</a></td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-hide="hideLoader"></tr>
        <tr ng-show="hideLoader"><td colspan="7"><div class="loading-iu"></div></td></tr>
        <tr ng-show="showError"></tr>
        <tr ng-show="showError">
            <td colspan="7">
                <div class="alert alert-error">There was an error while loading the data. Your ticket might be expired. Please create a new ticket and try again !
                To create a ticket, clear your browser cache and go to <a href="{{portalUrl}}"><b>{{portalUrl}}</b></a></div>
            </td>
        </tr>
        <tr ng-show="showError1"></tr>
        <tr ng-show="showError1">
            <td colspan="7">
                <div class="alert alert-error">There was an error while loading the data. Please try again later...</b></a></div>
            </td>
        </tr>
        <tr ng-show="files.length<1"></tr>
        <tr ng-show="files.length<1"><td colspan="7"><div>Empty folder !</div></td></tr>
        <tr ng-repeat="file in files | orderBy:predicate:reverse" >
            <td><input type="checkbox" name="filename" ng-model="file.checked"/></td>
            <td><img ng-show="file.fileType=='file'" title="file" src="static/images/file.png" width="22" height="28"/>
                <img ng-show="file.fileType=='dir'" title="folder" src="static/images/folder.png" width="22" height="28"/>
                <img ng-show="file.fileType=='symlink'" title="symlink" src="static/images/symlink.png" width="22" height="28"/>
            </td>
            <td ng-click="goInside(file)"><a class="underline tdcolor" href="#">{{file.name}}</a></td>
            <td>{{file.size}}</td>
            <td>{{file.date}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="newFolderModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">Make a New Folder</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid"><div class="span4"><strong>Folder Name</strong></div><div><input type="text" name="addFolderdatas.foldername" ng-model="addFolderdatas.foldername"/></div></div>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-show="true" ng-click="resetAddFolder()">Clear Dialog</button>
        <!--<a class="underline" ng-click="resetAddFolder()">Reset</a>-->
        <button class="btn" ng-click="resetAddFolder()" data-dismiss="modal" aria-hidden="true">Close</button>
        <button ng-hide="!addFolderdatas.foldername" ng-click="addFolder(addFolderdatas.foldername)" class="btn btn-danger pull-left" ng-show="addFolderdatas.foldername">Create Folder</button>
        <div class="alert alert-error" ng-hide="!addFolderdatas.createDisabled" ng-show="addFolderdatas.createDisabled">
            <!--<button type='button' ng-click="resetAddFolder()" class='close' data-dismiss='alert' data-dismiss='modal' aria-hidden="true">&times;</button>-->
            {{addFolderdatas.errorMsg}}
        </div>
        <div class="alert alert-error" ng-hide="!addFolderdatas.folderExist" ng-show="addFolderdatas.folderExist">
            <!--<button type='button' class='close' ng-click="resetAddFolder()"  data-dismiss='alert' data-dismiss='modal' aria-hidden="true">&times;</button>-->
            {{addFolderdatas.folderExistMsg}}
        </div>
        <div class="alert alert-success" ng-hide="!addFolderdatas.createSuccess" ng-show="addFolderdatas.createSuccess">
            <!--<button type='button' ng-click="resetAddFolder()" class='close' data-dismiss='alert' data-dismiss='modal' aria-hidden="true">&times;</button>-->
            {{addFolderdatas.successMsg}}
        </div>
    </div>
</div>
<div id="uploadFileModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="uploadFilModelLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="uploadFileLabel">Upload File</h3>
    </div>
    <div id="upload-body" class="modal-body">
            <form id="fileUploadForm" method="post" action="filemanager/uploadFile" enctype="multipart/form-data">
            <div class="row-fluid">
                <div class="span4">File</div>
                <div>
                    <input type="file" name="file" id="fileField" ng-model="file" required/>
                </div>
                <div>
                    <div class="checkbox inline">
                        <input type="checkbox" id="overwrite_enabled" checked="checked">Overwrite file if it already exists
                    </div>
                </div>
                <br/>
                <div class="progress">
                    <div class="bar"></div >
                    <div class="percent">0%</div >
                </div>
                <!--<div class="progress">-->
                    <!--<div class="bar"></div >-->
                    <!--<div class="percent">0%</div >-->
                <!--</div>-->
                <!--<div id="status"></div>-->
                <div id="progress1" class="alert-info" style="display: none;">Please wait until file upload finishes...</div>
                <br/>
                <div id="progress2" class="loading-iu" style="display: none;"></div>
            </div>
            <!--<div ng-hide="fileUploading"></div>-->
            <!--<div id="loading"></div>-->
            <!--<div class="fileupload-progress fade" style="display:none">-->
                <!-- The global progress bar -->
                <!--<div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>-->
                <!-- The extended global progress state -->
                <!--<div class="progress-extended">&nbsp;</div>-->
            <!--</div>-->
            <input class="btn pull-left" type="submit" value="Upload File"/>
        </form>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--<button type="submit" class="btn btn-danger pull-left">Upload File</button>-->
    <div class="alert alert-error" ng-show="createDisabled"><button type='button' class='close' data-dismiss='alert'>&times;</button>
    Error occurred while uploading the file. Please try again later
    </div>
    <div class="alert alert-success" ng-show="createSuccess"><button type='button' class='close' data-dismiss='alert'>&times;</button>
    File uploaded successfully..
    </div>
    </div>
</div>
<div id="deleteModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="deleteLabel">Delete File / Folder</h3>
    </div>
    <div id="deletefiles" class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn" ng-show="true" ng-click="resetDelete()">Clear Dialog</button>
        <button class="btn" ng-click="resetDelete()" data-dismiss="modal" aria-hidden="true">Close</button>
        <button ng-hide="selectedFiles.length==0" ng-click="deleteFile()" class="btn btn-danger pull-left" ng-show="selectedFiles.length>0">Delete</button>
        <!--<button ng-click="deleteFile()" class="btn btn-danger pull-left">Delete</button>-->
        <div class="alert alert-error" ng-hide="!deletedatas.deleteDisabled" ng-show="deletedatas.deleteDisabled">
            <!--<button type='button' class='close' data-dismiss='alert'>&times;</button>-->
            {{deletedatas.errorMsg}}
        </div>
        <div class="alert alert-success" ng-hide="!deletedatas.deleteSuccess" ng-show="deletedatas.deleteSuccess">
            <!--<button type='button' class='close' data-dismiss='alert'>&times;</button>-->
            {{deletedatas.successMsg}}
        </div>
    </div>
</div>
<div id="viewUsedSpaceModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="usedSpaceLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="usedSpaceLabel">Used Space</h3>
    </div>
    <div id="fileCount" class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<div id="renameModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="renameLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="renameLabel">Rename files and folders</h3>
    </div>
    <div id="renameFile" class="modal-body">
    </div>
    <div id="renameFooter" class="modal-footer">
        <button class="btn" ng-show="true" ng-click="resetRenameFolder()">Clear Dialog</button>
        <button class="btn" ng-click="resetRenameFolder()" data-dismiss="modal" aria-hidden="true">Close</button>
        <button ng-hide="selectedFiles.length==0" ng-click="rename(newname)" class="btn btn-danger pull-left" ng-show="selectedFiles.length>0">Rename</button>
        <div class="alert alert-error" ng-hide="!renamedatas.renameDisabled" ng-show="renamedatas.renameDisabled">
            <!--<button type='button' ng-click="resetRenameFolder()" class='close' data-dismiss='alert'  data-dismiss='modal'>&times;</button>-->
           {{renamedatas.errorMsg}}
        </div>
        <div class="alert alert-error" ng-hide="!renamedatas.folderExist" ng-show="renamedatas.folderExist"  >
            <!--<button type='button'  ng-click="resetRenameFolder()"  class='close' data-dismiss='alert' data-dismiss='modal' aria-hidden="true">&times;</button>-->
            {{renamedatas.folderExistMsg}}
        </div>
        <div class="alert alert-success" ng-show="renamedatas.renameSuccess" ng-hide="!renamedatas.renameSuccess">
            <!--<button type='button' ng-click="resetRenameFolder()" class='close' data-dismiss='alert'  data-dismiss='modal'>&times;</button>-->
            {{renamedatas.successMsg}}
        </div>
    </div>
</div>
<div id="mvModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mvLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="mvLabel">Move files and folders</h3>
    </div>
    <div id="mvfiles" class="modal-body">
        <div class="row-fluid">
            <div class="alert alert-error" ng-show="selectedFiles.length<1">
                <button type='button' class='close' data-dismiss='alert'>&times;</button>Please select files to move...
            </div>
            <div class="alert alert-warn" ng-show="symlink">
                <button type='button' class='close' data-dismiss='alert'>&times;</button>Symlinks are not supported in current version..
            </div>
            <div class="span4" ng-show="!symlink"><strong>Target folder</strong></div>
            <div ng-show="!symlink">
                <select name="foldername" required
                        ng-options="folder as folder.name for folder in folders"
                        ng-model="foldername" ng-change="populateRest(foldername)">
                    <option value="">--Select--</option>
                </select>
            </div>
            <div class="span4" ng-show="selectOther"><strong>Folder Name</strong></div>
            <div>
                <input type="text" ng-show="selectOther" name="otherfolder" ng-model="otherfolder"/>
                <div ng-show="selectOther">Type the path of the destination folder relative to your home directory: as subdir1/subdir2</div>
            </div>
            <div class="span4" ng-show="selectHome"><strong>Home Folders</strong></div>
            <div><select ng-show="selectHome" name="homeFoldername" required
                         ng-options="folder as folder.name for folder in homeFolders"
                         ng-model="homeFoldername">
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-show="true" ng-click="resetMv()">Clear Dialog</button>
        <button class="btn" ng-click="resetMv()" data-dismiss="modal" aria-hidden="true">Close</button>
        <button ng-hide="selectedFiles.length==0" ng-click="move(foldername, otherfolder, homeFoldername)" class="btn btn-danger pull-left" ng-show="selectedFiles.length>0">Move</button>
        <div class="alert alert-error" ng-hide="!mvdatas.moveDisabled" ng-show="mvdatas.moveDisabled">
            <!--<button type='button' class='close' data-dismiss='alert' data-dismiss='modal'>&times;</button>-->
            {{mvdatas.errorMsg}}
        </div>
        <div class="alert alert-success" ng-hide="!mvdatas.moveSuccess" ng-show="mvdatas.moveSuccess">
            <!--<button type='button' class='close' data-dismiss='alert' data-dismiss='modal'>&times;</button>-->
            {{mvdatas.successMsg}}
        </div>
    </div>
</div>
<div id="copyModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="copyLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="copyLabel">Copy files and folders</h3>
    </div>
    <div id="copyfiles" class="modal-body">
        <div class="row-fluid">
            <div class="alert alert-error" ng-show="selectedFiles.length<1">
                <button type='button' class='close' data-dismiss='alert'>&times;</button>Please select files to copy...
            </div>
            <div class="alert alert-warn" ng-show="symlink">
                <button type='button' class='close' data-dismiss='alert'>&times;</button>Symlinks are not supported in current version..
            </div>
            <div class="span4" ng-show="!symlink"><strong>Target folder</strong></div>
            <div ng-show="!symlink">
                <select name="foldername" required
                        ng-options="folder as folder.name for folder in folders"
                        ng-model="foldername" ng-change="populateRest(foldername)">
                    <option value="">--Select--</option>
                </select>
            </div>
                <div class="span4" ng-show="selectOther"><strong>Folder Name</strong></div>
                <div>
                    <input type="text" ng-show="selectOther" name="otherfolder" ng-model="otherfolder"/>
                    <div ng-show="selectOther">Type the path of the destination folder relative to your home directory, as subdir1/subdir2</div>
                </div>
                <div class="span4" ng-show="selectHome"><strong>Home Folders</strong></div>
                <div><select ng-show="selectHome" name="homeFoldername" required
                         ng-options="folder as folder.name for folder in homeFolders"
                         ng-model="homeFoldername">
            </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-show="true" ng-click="resetCp()">Clear Dialog</button>
        <button class="btn" ng-click="resetCp()" data-dismiss="modal" aria-hidden="true">Close</button>
        <button ng-hide="selectedFiles.length==0" ng-click="copy(foldername, otherfolder, homeFoldername)" class="btn btn-danger pull-left" ng-show="selectedFiles.length>0">Copy</button>
        <!--<button ng-click="copy(foldername)" class="btn btn-danger pull-left">Copy</button>-->
        <div class="alert alert-error" ng-hide="!cpdatas.copyDisabled" ng-show="cpdatas.copyDisabled">
            <!--<button type='button' class='close' data-dismiss='alert' data-dismiss='modal'>&times;</button>-->
            {{cpdatas.errorMsg}}
        </div>
        <div class="alert alert-success" ng-hide="!cpdatas.copySuccess" ng-show="cpdatas.copySuccess">
            <!--<button type='button' class='close' data-dismiss='alert' data-dismiss='modal'>&times;</button>-->
            {{cpdatas.successMsg}}
        </div>
    </div>
</div>

</div>
</div>
</div>

<div ng-include src="'static/footer.html'"></div>

</body>
</html>
