<!DOCTYPE html>
<html ng-app="fileManagerApp" ng-controller="FileManagerCtrl" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Scholarly Data Archive</title>
    <link rel="icon" href="https://www.indiana.edu/favicon.ico" />
    <link rel="shortcut icon" href="https://www.indiana.edu/favicon.ico" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="static/js/common.js"></script>
    <script src="static/js/filemanager.js"></script>
    <script src="static/js/urlprovider.js"></script>

    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="static/css/iu.css" rel="stylesheet">
</head>

<body>
<div ng-include src="'static/topbars.html'"></div>

<div class="well container-fluid">
    <div class="row-fluid">
        <div class="well-iu span12">
            <div class="well-heading">Scholarly Data Archive</div>
            <div class="pull-left">
                <button class="btn pull-left" data-toggle="modal" data-target="#newFolderModel">New Folder</button>
                <button class="btn pull-left" data-toggle="modal" data-target="#uploadFileModel">Upload File</button>
                <button class="btn pull-left" ng-click="viewUsedSpace()" data-toggle="modal" data-target="#viewUsedSpaceModel">View Used Space</button>
            </div>
            <div class="pull-right span4"><strong >Select File to : </strong>
                <button class="btn pull-right" data-toggle="modal" data-target="#deleteModel">Delete</button>
                <button class="btn pull-right" data-toggle="modal" data-target="#mvModel">Move</button>
                <button class="btn pull-right" data-toggle="modal" data-target="#copyModel">Copy</button>
                <button class="btn pull-right" ng-click="generateRenameModel()" data-toggle="modal" data-target="#renameModel">Rename</button>
            </div>
            <br/>
            <br/>
            <br/>
            <div>
                <table class="table table-hover table-striped table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Name</th>
                        <th>Size (KB)</th>
                        <th>Last Modified</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td><img title="Up one level" src="static/images/up.png" width="22" height="28"/></td>
                        <td class="underline" ng-click="upOneLevel()">Up One Level</td>
                        <td></td>
                        <td></td>
                    </tr>
		            <tr ng-hide="hideLoader"></tr>
                    <tr ng-show="hideLoader"><td colspan="7"><div class="loading-iu"></div></td></tr>
                    <tr ng-show="showError"></tr>
                    <tr ng-show="showError"><td colspan="7"><div class="alert alert-error">There was an error loading the data !</div></td></tr>
                    <tr ng-show="files.length<1"></tr>
                    <tr ng-show="files.length<1"><td colspan="7"><div>Empty folder !</div></td></tr>
                    <tr ng-repeat="file in files" >
                        <td><input type="checkbox" name="filename" ng-model="file.checked"/></td>
                        <td><img ng-show="file.file" title="file" src="static/images/file.png" width="22" height="28"/><img ng-show="!file.file" title="folder" src="static/images/folder.png" width="22" height="28"/></td>
                        <td ng-click="goInside(file)">{{file.name}}</td>
                        <td>{{file.size}}</td>
                        <td>{{file.date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="newFolderModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel">Make a New Folder</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid"><div class="span4"><strong>Folder Name</strong></div><div><input type="text" name="foldername" ng-model="foldername"/></div></div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button ng-click="addFolder(foldername)" class="btn btn-danger pull-left">Create Folder</button>
                    <div class="alert alert-error" ng-show="createDisabled"><button type='button' class='close' data-dismiss='alert' data-dismiss='modal'>&times;</button>
                        Error occurred while creating the folder. Please try again later
                    </div>
                    <div class="alert alert-success" ng-show="createSuccess"><button type='button' class='close' data-dismiss='alert' data-dismiss='modal'>&times;</button>
                        New folder created successfully..
                    </div>
                </div>
            </div>
            <div id="uploadFileModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="uploadFilModelLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="uploadFileLabel">Upload File</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid"><div class="span4">File</div><div><input type="file" name="file" ng-model="file"/></div></div>
                    <div><div class="checkbox inline"><input type="checkbox">Overwrite file if it already exists</div></div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button ng-click="uploadFile(file)" class="btn btn-danger pull-left">Upload File</button>
                    <div class="alert alert-error" ng-show="createDisabled"><button type='button' class='close' data-dismiss='alert'>&times;</button>
                        Error occurred while uploading the file. Please try again later
                    </div>
                    <div class="alert alert-success" ng-show="createSuccess"><button type='button' class='close' data-dismiss='alert'>&times;</button>
                        File uploaded successfully..
                    </div>
                </div>
            </div>
            <div id="deleteModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="deleteLabel">Delete File / Folder</h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button ng-click="deleteFile()" class="btn btn-danger pull-left">Delete</button>
                    <div class="alert alert-error" ng-show="deleteDisabled"><button type='button' class='close' data-dismiss='alert'>&times;</button>
                        Error occurred while deleting. Please try again later
                    </div>
                    <div class="alert alert-success" ng-show="deleteSuccess"><button type='button' class='close' data-dismiss='alert'>&times;</button>
                        File / Folder deleted successfully..
                    </div>
                </div>
            </div>
            <div id="viewUsedSpaceModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="usedSpaceLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="usedSpaceLabel">Used Space</h3>
                </div>
                <div id="fileCount" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
            <div id="renameModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="renameLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="renameLabel">Rename files and folders</h3>
                </div>
                <div id="renameFile" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button ng-click="rename()" class="btn btn-danger pull-left">Rename</button>
                    <div class="alert alert-error" ng-show="renameDisabled"><button type='button' class='close' data-dismiss='alert'>&times;</button>
                        Error occurred while renaming items. Please try again later
                    </div>
                    <div class="alert alert-success" ng-show="renameSuccess"><button type='button' class='close' data-dismiss='alert'>&times;</button>
                        File / Folder renamed successfully..
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include src="'static/footer.html'"></div>

</body>
</html>
