<div>
	<div class="span12" style="min-height:10px;"></div>
	<div class="row span12">
		<div class="span2"><strong>Job Id</strong></div>
		<div class="span2"><strong>Name</strong></div>
		<div class="span2"><strong>Run on</strong></div>
		<div class="span2"><strong>Current Step</strong></div>
		<div class="span2"><strong>Last run time</strong></div>
	</div>
	<div class="row span12" ng-repeat="job in jobs">
		<div class="row-fluid">
			<div class="span2"><a style="margin-left:-20px; margin-right:10px;" ng-click="showDetail=!showDetail"><i ng-hide="showDetail" class="icon-plus"></i><i ng-show="showDetail" class="icon-minus"></i></a><a ng-href="#/job/{{job.id}}/tleap">{{job.id}}</a></div>
			<div class="span2">{{job.name}}</div>
			<div class="span2">{{job.machine}}</div>
			<div class="span2">{{job.currentStep}}</div>
			<div class="span2">{{job.lastRunTime | date:'medium'}}</div>
		</div>
		<div ng-show="showDetail" class="row-fluid">
			Detail listing!
		</div>
	</div>
</div>