<div>
	<div class="row-fluid">
		<button class="btn pull-right" title="Refresh Job Listings" ng-click="refresh()"><i class="icon-refresh"></i></button>
		<a class="btn pull-right" title="Create a new Amber Job" ><i class="icon-plus"></i>New Job</a>
	</div>
	<div class="span12" style="min-height:10px;"></div>
	<div class="row span12">
		<div class="span2"><strong>Job Id</strong></div>
		<div class="span2"><strong>Name</strong></div>
		<div class="span2"><strong>Run on</strong></div>
		<div class="span2"><strong>Current Step</strong></div>
		<div class="span2"><strong>Last run time</strong></div>
	</div>
	<div class="row span12" ng-repeat="job in jobs">
		<div class="row-fluid">
			<div class="span2">
			  <span style="margin-left:-20px; margin-right:10px;" ng-click="showDetail=!showDetail">
				<i ng-hide="showDetail" class="icon-plus"></i>
				<i ng-show="showDetail" class="icon-minus"></i>
			  </span>
			  <a ng-href="#/job/{{job.id}}/tleap">{{job.id}}</a>
			</div>
			<div class="span2">{{job.name}}</div>
			<div class="span2">{{job.machine}}</div>
			<div class="span2">{{job.currentStep}}</div>
			<div class="span2">{{job.lastRunTime | date:'medium'}}</div>
		</div>
		<div ng-show="showDetail" class="row-fluid">
			<div class="span12" style="min-height:10px;"></div>
			<div class="row-fluid">
			  <div class="span1"></div>
			  <div class="span6">TLeap</div>
			  <div class="span5">Started</div>
			</div>
			<div class="row-fluid">
			  <div class="span1"></div>
			  <div class="span11" style="padding:0px 0px 10px 10px">
			  	<div><small>Input file: /usr/home/job/input.pdb</small></div>
			  	<div><small>Output file: /usr/home/job/out.cfg</small></div>
			  </div>
			</div>
			<div class="row-fluid">
			  <div class="span1"></div>
			  <div class="span6">Amber</div>
			  <div class="span5">-</div>
			</div>
			<div class="row-fluid">
			  <div class="span1"></div>
			  <div class="span11" style="padding:0px 0px 10px 10px">
			  	<div><small>Input file: /usr/home/job/out.cfg, /usr/home/job/out.cfg, /usr/home/job/out.cfg</small></div>
			  	<div><small>Output file: -</small></div>
			  </div>
			</div>
			<div class="row-fluid">
			  <div class="span1"></div>
			  <div class="span6">Post Processing</div>
			  <div class="span5">-</div>
			</div>
			<div class="row-fluid">
			  <div class="span1"></div>
			  <div class="span11" style="padding:0px 0px 10px 10px">
			  	<div><small>Input file: -</small></div>
			  	<div><small>Output file: -</small></div>
			  </div>
			</div>
			<div class="row-fluid">
			  <div class="span1"></div>
			  <div class="span4"></div>
			  <div class="span7">
			  	<button class="btn"><i class="icon-refresh"></i></button>
			    <button class="btn">View Job</button>
			    <button class="btn">Clone Job</button>
			  </div>
			</div>
			<div class="span12"></div>
		</div>
	</div>
</div>