<div>
    <div>
        <li class="dropdown">
            Select the Task Type:
            <a class="dropdown-toggle btn">
                {{selected}}
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="phase in phases">
                    <a ng-click="onItemClick(phase.name)">{{phase.name}}</a>
                </li>
            </ul>
        </li>
    </div>
    <br>
    <br>
    <br>
    <p ng-include src="jobForm">

    </p>

    <script>
        $('.dropdown-toggle').dropdown()
    </script>

</div>